  <div id="nav" onclick="sidebarOpen()" class="nav">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
  </div>
  <aside class="sidebar" id="sidebar">
    <div onclick="sidebarOpen()" class="nav">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
    </div>
    <ul class="sidenav">
      <li class="sidenav-header">
        <img src="images/logo.svg" alt="Logistics Cluster" class="logo" />
        <h1>Information Management Guide</h1>
      </li>
      <li>
        <a href="#intro" class="chapter">Introduction</a>
      </li>
      <li>
        <button class="chapter accordion">
          <span>Knowledge Base</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
        </button>
        <ul class="subnav panel">
          <li>
            <a href="#about">About the Logistics Cluster</a>
          </li>
          <li>
            <a href="#functions">The Logistics Cluster functions</a>
          </li>
          <li>
            <a href="#tools">Logistics Cluster tools</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="chapter">IM Products</a>
      </li>
      <li>
        <a href="#" class="chapter">Writing and Editing Guidelines</a>
      </li>
      <li>
        <a href="#" class="chapter">Workflow</a>
      </li>
      <li>
        <a href="#" class="chapter">Filling Guidelines</a>
      </li>
      <li>
        <a href="#" class="chapter">Handover Checklist</a>
      </li>
      <li>
        <a href="#" class="chapter">Useful Links</a>
      </li>
      <li>
        <a href="#" class="chapter">FAQs</a>
      </li>
      <li>
        <a href="#" class="chapter">Reporting Guidelines</a>
      </li>
    </ul>
  </aside>