<% include _partials/_head %>

<body class="grid">
  <% include _partials/_navigation %>
  <main>

    <% include _sections/_intro %>

    <% include _sections/_about %>

    <% include _sections/_functions %>

    <% include _sections/_tools %>

    <% include _sections/_knowledge %>
  </main>
  <% include _partials/_footer %>