<section id="intro">
      <h1>Introduction</h1>
      <p>
        The process of managing information encompasses a series of actions made up of technical and non-technical tasks. It is a continuous cycle which involves understanding information needs as well as collecting and analysing relevant data to produce information that gives knowledge of a situation. This allows for the most relevant product to be produced, according to audience and context, and for information to be shared consistently.
      </p>
      <p>
        As the cluster approach was adopted to address and correct the problems of ad-hoc humanitarian responses, the logistics sector has adopted a reliable, predictable and standardised approach to coordination. Standards exist at global level to ensure organisations working with the Logistics Cluster in any operation find the same type of information accessible in the same way and following the same guidelines, notwithstanding the peculiarity of each emergency and the specific requirements of each operation.
        The purpose of this guide is to ensure that Information Management (IM) officers deployed in ongoing Logistics Cluster operations and skilled personnel likely to be deployed have an overview of basic IM guidelines, standards and procedures at global and field level.
        The guide addresses how to share critical operational information through standard Logistics Cluster IM products. It also gives an overview on best practices for taking photos, using social media channels and writing communication pieces to increase awareness of the Logistics Cluster and its activities. It also provides brief guidance on the reporting requirements for WFP and OCHA.
        In addition, the guide outlines filing criteria to ensure effective access to information for all relevant people as well as efficient handover and writing standards to ensure quality and consistency across operations and products.
      </p>
    </section>