<section id="tools">
        <h1>Tools</h1>
        <p>
          The cluster approach was adopted in 2005 to address consistent gaps and weaknesses and to improve international responses to humanitarian crises. It
          is a means to strengthen response capacity, coordination and accountability by enhancing partnerships in key sectors, and by formalising the lead role of particular organisations in each of the following sectors: WASH, Shelter, Protection, Nutrition, Health, Food Security, Emergency Telecommunications, Education, Early Recovery, Camp Coordination and Camp Management, and Logistics.
        </p>
      </section>